flows.json
[
    {
        "id": "316d391f.9fe716",
        "label": "new package",
        "type": "tab"
    },
    {
        "id": "f48c105414622",
        "type": "bulbsin",
        "z": "316d391f.9fe716",
        "ptype": {
            "f48c105414622": [
                {
                    "type": "personal",
                    "subtype": "behaviour",
                    "ordinal": "secondary",
                    "description": "presence data can provide an indicator of routine and room occupancy",
                    "required": [
                        "payload.value"
                    ],
                    "conditions": [
                        {
                            "accuracy": 0.9,
                            "granularity": {
                                "threshold": -1,
                                "unit": "none"
                            }
                        }
                    ],
                    "accretion": true
                },
                {
                    "type": "personal",
                    "subtype": "location",
                    "ordinal": "secondary",
                    "required": [
                        "payload.value"
                    ],
                    "description": "presence data can provide partial location information",
                    "conditions": [
                        {
                            "granularity": {
                                "threshold": -1,
                                "unit": "none"
                            }
                        }
                    ],
                    "accretion": true
                }
            ]
        },
        "name": "",
        "subtype": "hue-ZLLPresence",
        "x": 199,
        "y": 347,
        "wires": [
            [
                "39d7050aba071a"
            ]
        ]
    },
    {
        "id": "39d7050aba071a",
        "type": "rules",
        "z": "316d391f.9fe716",
        "name": "",
        "rules": [
            {
                "input": "f48c105414622",
                "attribute": "payload.value.presence",
                "operator": "true",
                "operand": "",
                "outputMessage": {
                    "type": "set-bulb-on",
                    "payload": "on"
                },
                "ruleId": 0,
                "outputType": "c58c7d6bdf898",
                "outputSchema": {
                    "type": "object",
                    "description": "the container object",
                    "properties": {
                        "type": {
                            "type": "string",
                            "description": "one of either 'set-bulb-on', 'set-bulb-hue', 'set-bulb-brightness'",
                            "enum": [
                                "set-bulb-on",
                                "set-bulb-hue",
                                "set-bulb-brightness"
                            ]
                        },
                        "payload": {
                            "type": "oneOf",
                            "selector": "type",
                            "description": "'type' dependent",
                            "oneOf": [
                                {
                                    "key": "type",
                                    "value": "set-bulb-on",
                                    "type": "string",
                                    "description": "\"on\" or \"off\""
                                },
                                {
                                    "key": "type",
                                    "value": "set-bulb-hue",
                                    "type": "number",
                                    "description": "a hue value (0-360)"
                                },
                                {
                                    "key": "type",
                                    "value": "set-bulb-brightness",
                                    "type": "number",
                                    "description": "a brightness value (0-255)"
                                }
                            ]
                        }
                    },
                    "required": [
                        "type",
                        "payload"
                    ],
                    "id": "c58c7d6bdf898"
                }
            },
            {
                "input": "f48c105414622",
                "attribute": "payload.value.presence",
                "operator": "true",
                "operand": "",
                "outputMessage": {
                    "payload": "off"
                },
                "ruleId": 1,
                "outputType": "754453f1c43a4c",
                "outputSchema": {
                    "type": "object",
                    "description": "container object",
                    "properties": {
                        "payload": {
                            "type": "string",
                            "description": "on or off",
                            "enum": [
                                "on",
                                "off"
                            ]
                        }
                    },
                    "required": [
                        "payload"
                    ],
                    "id": "754453f1c43a4c"
                }
            },
            {
                "input": "f48c105414622",
                "attribute": "payload.value.presence",
                "operator": "true",
                "operand": "",
                "outputMessage": {
                    "type": "set-bulb-on",
                    "payload": "off"
                },
                "ruleId": 2,
                "outputType": "c58c7d6bdf898",
                "outputSchema": {
                    "type": "object",
                    "description": "the container object",
                    "properties": {
                        "type": {
                            "type": "string",
                            "description": "one of either 'set-bulb-on', 'set-bulb-hue', 'set-bulb-brightness'",
                            "enum": [
                                "set-bulb-on",
                                "set-bulb-hue",
                                "set-bulb-brightness"
                            ]
                        },
                        "payload": {
                            "type": "oneOf",
                            "selector": "type",
                            "description": "'type' dependent",
                            "oneOf": [
                                {
                                    "key": "type",
                                    "value": "set-bulb-on",
                                    "type": "string",
                                    "description": "\"on\" or \"off\""
                                },
                                {
                                    "key": "type",
                                    "value": "set-bulb-hue",
                                    "type": "number",
                                    "description": "a hue value (0-360)"
                                },
                                {
                                    "key": "type",
                                    "value": "set-bulb-brightness",
                                    "type": "number",
                                    "description": "a brightness value (0-255)"
                                }
                            ]
                        }
                    },
                    "required": [
                        "type",
                        "payload"
                    ],
                    "id": "c58c7d6bdf898"
                },
                "delay": "5"
            },
            {
                "input": "f48c105414622",
                "attribute": "payload.value.presence",
                "operator": "true",
                "operand": "",
                "outputMessage": {
                    "payload": "on"
                },
                "ruleId": 3,
                "outputType": "754453f1c43a4c",
                "outputSchema": {
                    "type": "object",
                    "description": "container object",
                    "properties": {
                        "payload": {
                            "type": "string",
                            "description": "on or off",
                            "enum": [
                                "on",
                                "off"
                            ]
                        }
                    },
                    "required": [
                        "payload"
                    ],
                    "id": "754453f1c43a4c"
                },
                "delay": "5"
            }
        ],
        "x": 382,
        "y": 343,
        "wires": [
            [
                "754453f1c43a4c",
                "c58c7d6bdf898"
            ]
        ]
    },
    {
        "id": "c58c7d6bdf898",
        "type": "bulbsout",
        "z": "316d391f.9fe716",
        "name": "",
        "subtype": "set-bulb-on",
        "value": "",
        "x": 517.5,
        "y": 279,
        "wires": []
    },
    {
        "id": "754453f1c43a4c",
        "type": "plugout",
        "z": "316d391f.9fe716",
        "name": "",
        "subtype": "TP-SetPowerState",
        "value": "on",
        "x": 521.5,
        "y": 406,
        "wires": []
    }
]