flows.json
[
    {
        "id": "316d391f.9fe716",
        "label": "new package",
        "type": "tab"
    },
    {
        "id": "18c324ca4687db",
        "type": "facedetect",
        "z": "316d391f.9fe716",
        "ptype": {
            "18c324ca4687db": [
                {
                    "type": "identifier",
                    "ordinal": "secondary",
                    "description": "images can be used to identify individuals",
                    "required": [
                        "payload.image"
                    ],
                    "accretion": false,
                    "status": "inferred"
                }
            ]
        },
        "name": "",
        "x": 357.5,
        "y": 290,
        "wires": [
            [
                "5f769828183bf8",
                "7caa4306e4d8bc"
            ]
        ]
    },
    {
        "id": "4fb1a00584a5c",
        "type": "browserwebcam",
        "z": "316d391f.9fe716",
        "ptype": {
            "4fb1a00584a5c": [
                {
                    "type": "identifier",
                    "ordinal": "secondary",
                    "description": "images can be used to identify individuals",
                    "required": [
                        "payload.image"
                    ],
                    "accretion": false,
                    "status": "inferrable"
                },
                {
                    "type": "personal",
                    "subtype": "physical",
                    "ordinal": "secondary",
                    "status": "inferable",
                    "description": "images can be used to infer your age",
                    "required": [
                        "payload.image"
                    ],
                    "accuracy": 0.8,
                    "conditions": [
                        {
                            "type": "granularity",
                            "granularity": {
                                "threshold": 2,
                                "unit": "megapixel"
                            }
                        }
                    ],
                    "accretion": false
                }
            ]
        },
        "name": "",
        "subtype": "browserWebcamImage",
        "x": 227.5,
        "y": 290,
        "wires": [
            [
                "18c324ca4687db"
            ]
        ]
    },
    {
        "id": "5f769828183bf8",
        "type": "rules",
        "z": "316d391f.9fe716",
        "name": "",
        "rules": [],
        "x": 490,
        "y": 364,
        "wires": [
            [
                "98d74eee73ae1"
            ]
        ]
    },
    {
        "id": "98d74eee73ae1",
        "type": "bulbsout",
        "z": "316d391f.9fe716",
        "name": "",
        "subtype": "set-bulb-on",
        "value": "",
        "x": 595.5,
        "y": 364,
        "wires": []
    },
    {
        "id": "7caa4306e4d8bc",
        "type": "webify",
        "z": "316d391f.9fe716",
        "ptype": {
            "7caa4306e4d8bc": [
                {
                    "type": "identifier",
                    "ordinal": "secondary",
                    "description": "images can be used to identify individuals",
                    "required": [
                        "payload.values"
                    ],
                    "accretion": false,
                    "status": "inferred"
                }
            ]
        },
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload: {{payload}} !",
        "x": 482.5,
        "y": 188,
        "wires": [
            [
                "c957ed3fae86f"
            ]
        ]
    },
    {
        "id": "c957ed3fae86f",
        "type": "app",
        "z": "316d391f.9fe716",
        "name": "",
        "appId": "webapp",
        "layout": null,
        "x": 591,
        "y": 188,
        "wires": []
    }
]